body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    max-height: 95vh;
    max-width: min(100%, 95vw);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portraits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
