* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    max-height: 95vh;
    max-width: min(100%, 95vw);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portraitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait>img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.portrait>p {
    padding: 5px;
    margin: 0;
}
